<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <a href="/dashboard">Home</a>
            <a href="/logout">Logout</a>
        </div>
    </div>


    <div class="container">
        <h1>{{ this_item.name }}</h1>
    </div>

    <div class="container ">
        <p>Users who added this product/item under their wish list:</p>
        <!-- {{ this_travels.joined_users.all }} -->
        {% for user in this_item.joined_users.all %}

            <h2>{{ user.user.name }}</h2>

        {% endfor %}
    </div>
</body>
</html>